

.blog-detail {
    width: 690px;
}


/* ========================== */

/*          Tablet            */

/* ========================== */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .blog-detail p {
        font-size: 14px;
        line-height: 20px;
    }

    .blog-detail {
        width: 65%;
        margin-left: 23px;
    }
}