@if (blogs != null)
{
    foreach (BlogEntry blog in blogs)
    {
        <a href=@(blog.Url)>
            <div>
                <h4>@blog.Title</h4>
                @((MarkupString)blog.Body.Substring(0, 80))
            </div>
        </a>
    }
}
@code {
    [Parameter]
    public List<BlogEntry> blogs { get; set; }
}
