<div class="blog-page-banner">
    <div class="blog-page-content">
        <h1 class="hero-title">@banner.BannerTitle</h1>
        <p class="hero-description">@banner.BannerDescription</p>
    </div>
</div>

@code {
    [Parameter]
    public MBPageHeroBanner banner { get; set; }
}
