
.hero-banner {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background: #715cdd;
    padding: 63px;
    color: #fff;
    flex-wrap: wrap;
}

.hero-content, .home-content {
    text-align: left;
    margin-top: 65px;
    width: 475px;
}


/* About us page start */

.about-content {
    color: #222222;
    text-align: left;
    margin-top: 35px;
    width: 475px;
}

.about-desc {
    color: #737b7d;
}

.about-team-section {
    background: #f7f7f7;
    text-align: center;
}


/* ========================== */

/*          Mobile            */

/* ========================== */

@media screen and (min-width: 320px) and (max-width: 767px) {

    .hero-banner > img {
        max-width: 100%;
        margin-top: 40px;
    }

    .hero-banner {
        display: flex;
        justify-content: space-evenly;
        text-align: left;
        background: #715cdd;
        padding: 28px;
        color: #fff;
        flex-wrap: wrap;
    }

}
/* ========================== */

/*          Tablet            */

/* ========================== */

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .hero-banner {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        background: #715cdd;
        padding: 63px;
        color: #fff;
        flex-wrap: nowrap;
    }


    .hero-banner > img {
        width: 50%;
        margin: 27px 0px 0px 0px;
    }
}
